<% wrap_layout :site do %>
<div class="row">

  <aside id="sidebar" class="large-4 columns">
    <a href="/">
      <%= image_tag '/images/05_glass_100px.png', :id => 'logo' %>
    </a>
    <div id="byline" itemscope itemtype="http://data-vocabulary.org/Person">
      <p><span itemprop="name">Robert Syme</span><br /> I'm
        on <a href="https://plus.google.com/114214244051573894881?rel=author">Google+</a>
        and <a href="http://twitter.com/robsyme">Twitter</a></p>
    </div>
    <nav>
      <div class="row side-navigation text-center">
        <div class="small-6 large-3 columns"><a href="/blog">Blog</a></div>
        <div class="small-6 large-3 columns"><a href="/slides">Slides</a></div>
        <div class="small-6 large-3 columns"><a href="/papers">Papers</a></div>
        <div class="small-6 large-3 columns"><a href="/about">About</a></div>
      </div>
    </nav>

    <h1><%= current_page.data.title if current_page.data%></h1>
    
    <div id="tags">
      <ul>
        <% current_page.tags.each do |tag| %>
        <li><%= link_to(tag, "/blog/categories/#{tag}") %></li>
        <% end %>
      </ul>
    </div>
  </aside>
  
  <div class="large-offset-5 large-8 columns" id="content" role="content">

    <h1><%= current_page.data.title if current_page.data%></h1>

    <%= yield %>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'previewrobsyme';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

</div>
<% end %>
